body{
background-color: black;
color: rgb(107, 6, 6);
}

img{
  max-height: 245px;
  animation: img 5s infinite;
}
img:hover{
  zoom: 1.25;
}
/* img:active{

  transition: ;
} */

@keyframes img {
  0%{
    
    transform:rotate(0deg);
  }
  50%{
    transform:rotate(5deg);
  }
  100%{
    
    transform:rotate(0deg);
  }
}

img:hover{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}