body{
background-color: black;
color: rgb(107, 6, 6);
}

.clicker{
  max-height: 245px;
  animation: img 5s infinite;
}

img:hover{
  zoom: 1.1;
}

.btn-buy{
  max-width: 100px;
  max-height: 60px;
}

@keyframes img {
  0%{
    
    transform:rotate(0deg);
  }
  50%{
    transform:rotate(5deg);
  }
  100%{
    
    transform:rotate(0deg);
  }
}
